*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFF99;
}



nav{
  background-color: #FBA1B7;
  padding: 1rem;
  text-align: center;
}

nav a{
  background-color:#FBA1B7;
  color: #ffff ;
  text-decoration: none;
  margin: 0 1rem;
}

h3{
  color: #D14D72 ;
  font-size: 70px;
  text-align: center;
}

h4{
  font-size: 70px;
  text-align: center;
}

h5{
  font-size: 50px;
  text-align: center;
}

h6{
  color: #AEDEFC;
  font-size: 30px;
  text-align: center;
  background-color: #FFF0F5;
}

p{
  color: #F875AA;
  font-size: 30px;
  text-align: center;
  white-space: pre;
}
